player-connection-mode=Listen
player-connection-guid=3744070580
player-connection-debug=0
player-connection-project-name=Tank Game
player-connection-ip=192.168.56.1
player-connection-ip=172.27.32.1
player-connection-ip=172.19.128.1
player-connection-ip=172.29.240.1
player-connection-ip=192.168.1.11
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
nolog=
build-guid=a2dd6f4a03034e2082288c96820880e7
