player-connection-mode=Listen
player-connection-guid=2958350405
player-connection-debug=0
player-connection-project-name=Tank Game
player-connection-ip=192.168.56.1
player-connection-ip=172.21.240.1
player-connection-ip=172.20.128.1
player-connection-ip=172.31.48.1
player-connection-ip=192.168.1.11
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
nolog=
build-guid=b0dddeabf07640a88efc8af3046977bc
