player-connection-mode=Listen
player-connection-guid=172737373
player-connection-debug=0
player-connection-project-name=Tank Game
player-connection-ip=192.168.56.1
player-connection-ip=172.19.48.1
player-connection-ip=172.25.0.1
player-connection-ip=172.28.192.1
player-connection-ip=192.168.1.11
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
nolog=
build-guid=1147313514584fdeb13c2fd5f949eaf4
