player-connection-mode=Listen
player-connection-guid=2295686198
player-connection-debug=0
player-connection-project-name=Tank Game
player-connection-ip=192.168.56.1
player-connection-ip=172.21.160.1
player-connection-ip=172.20.48.1
player-connection-ip=192.168.208.1
player-connection-ip=192.168.1.6
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
nolog=
build-guid=19e2b9b9b25d4f93bb8f38e65338fce0
