player-connection-mode=Listen
player-connection-guid=1350351923
player-connection-debug=0
player-connection-project-name=Tank Game
player-connection-ip=192.168.56.1
player-connection-ip=172.26.128.1
player-connection-ip=172.20.48.1
player-connection-ip=192.168.208.1
player-connection-ip=192.168.1.7
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
nolog=
build-guid=cb1dc46103144d6183235294fa41e606
